html, body {height: 100%; padding: 0; margin: 0; }
body { display: table; width: 100%; height: 100%; }
header, footer, content { display: table-row; }
header, footer { height: 1px; }
content { height: auto; }