

td {
  text-align: center;
}
  

  #carouselExampleIndicators{
    margin-top: 50px;
    width: 100%;
  }

  #cimage {
    height: 350px;
    width: 500px;
  }

  #tdp {
        height: 50%;
    width: 25%;
  }

  #thumb {
    height: 80%;
width: 80%;

}

  #tb {
    margin: 20px;
  }

  table{
    margin-top: 30px;
  }

  