#heading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#body{
    margin-bottom: 40px;
}

button {
    margin-top: 40px;
    margin-bottom: 20px;
    
}

#lowest{
    margin-bottom: 80%;
}