<div id="head" class="container">
    <h1>User Registration</h1>
</div>

<div class="container col-md-3 alert alert-danger" role="alert" *ngIf="invalidConfirm">
    Confirm password failed. Please try again
</div>

<div class="container col-md-3">
<form (ngSubmit)="addNewUser(user)">
    <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName">
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password">
    </div><div class="mb-3">
        <label for="confirm" class="form-label">Confirm password</label>
        <input type="password" class="form-control" id="confirm" name="comfirm" [(ngModel)]="confirm">
    </div>
    <div id="button">
    <button type="submit" class="btn btn-info">Register</button> / <a routerLink=""><button class="btn btn-primary">Back</button></a>
    </div>
</form>
</div>
