<nav class="navbar navbar-expand-lg bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" id="brand" routerLink="/">&nbsp;NMS Cinema.com</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" *ngIf="auth.isUserLoggedIn()" routerLink="/cart/{{uId}}">Cart</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Now Showing
                    </a>
                    <ul class="dropdown-menu" id="dropdown">
                        <li><a class="dropdown-item" href="#">Halloween</a></li>
                        <li><a class="dropdown-item" href="#">Oscar winners</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Special Features</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav navbar-collapse justify-content-end">
                <form class="d-flex" role="search" *ngIf="auth.isUserLoggedIn()||auth.isAdminLoggedIn()">
                    <input class="form-control me-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
                <li>
                    <a class="nav-link" routerLink="/login" *ngIf="!(auth.isAdminLoggedIn()||auth.isUserLoggedIn())">Login</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/logout" *ngIf="auth.isUserLoggedIn()||auth.isAdminLoggedIn()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>