<div class="container">
    {{user.email}}
    <div class="row">
        <div class="col">
            <h3>{{movie.title}}</h3>
            <img src="{{posterBaseUrl}}/{{movie.posterLink}}">
        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Language</th>
                        <th>Duration</th>
                        <th>Opening on</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{movie.language}}</td>
                        <td>{{movie.duration}} minutes</td>
                        <td>{{movie.opening}}</td>
                    </tr>
                </tbody>
            </table>
            <br><br><br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Director</th>
                        <th>Cast</th>
                        <th>Ticke price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{movie.director}}</td>
                        <td>{{movie.cast}}</td>
                        <td>{{movie.price}}</td>
                    </tr>
                </tbody>
            </table>
            <br><br><br>
            <div class="col">
                <label for="story">
                    <h4>Synopsis</h4>
                </label>
                <p id="story">{{movie.synopsis}}</p>
                <button class="btn btn-info" *ngIf="auth.isUserLoggedIn()" (click)="saveItem(uId, mId)">Add to cart</button>
                <button class="btn btn-primary" routerLink="">Back</button>
                <button class="btn btn-primary" routerLink="/payment/{{uId}}">Checkout</button>
            </div>
        </div>
    </div>
</div>