<div class="container mh-100">
    <div class="container text-primary">
        <h3>Admin({{id}})</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>User ID</td>
                <td>Last Name</td>
                <td>First Name</td>
                <td>Email</td>
                <td>Enable</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.email}}</td>
                <td>
                   
                    
                </td>
            </tr>
        </tbody>

    </table>
</div>