<div class="container">
    <div class="container text-primary">
        <h3>Welcome Admin({{id}})! Please choose your action.</h3>
    </div>
    <table>
        <tr>
            <td class="bg-secondary"><a routerLink="/adminMovies/{{id}}">
                    <h2>Edit Movies</h2>
                </a></td>
            <td></td>
            <td class="bg-warning"><a routerLink="/adminUsers/{{id}}">
                    <h2>Edit Users</h2>
                </a></td>
        </tr>
        <tbody>
            <td></td>
            <td><button class="btn btn-primary">Back</button></td>
            <td></td>
        </tbody>

    </table>


</div>